@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #5ae03f;
  --color-secondary: #30a12c;
  --color-tertiaty: #99a0a3;
}

a { 
  @apply text-green-700;
}

a:hover {
  @apply border-b-2 text-green-700;
}



.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}
